.button {
    padding-left: 25px;
    padding-right: 25px;
    border: none;
    font-family: "Noah";
    font-size: 18px;
    text-decoration: none;
}

.is-transparent-button {
    background-color: transparent;
    border: solid 2px $globalWhite;
    color: $globalWhite;
    &:hover {
        color:lightgray;
        border: solid 2px lightgray;
    }
}
