$aqua: #1cc6d9;
$hoverAqua: #107682;
$activeAqua: #76dce8;
$disabledAqua: rgba(28, 198, 217, 0.3);

$purple: #8d1cd9;
$hoverPurple: #541082;
$activePurple: #BA76E8;
$disabledPurple: rgba(141, 28, 217, 0.3);


$white: rgba(255, 255, 255, 1);
$hoverWhite: rgba(255, 255, 255, 0.6);
$activeWhite: rgba(255, 255, 255, 0.8);
$disabledWhite: rgba(255, 255, 255, 0.3);

$black: #222222;

$veryLightPink: #f1f1f1;

$greyBackground: #f0f0f0;