.error-page {
  display: flex;
  flex-direction: column;
  font-family: "Noah";
  font-style: normal;
}

.error-page-content-container {
    @include flexCenter;
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: $aqua;
    font-size: 20px;
    div, strong, a {
        color: $white;
    }
    a {
        text-decoration: underline;
    }
}

.error-page-content {
    @include flexCenterColumn;
    justify-content: space-between;
    height: 30vh;
    div {
        text-align: center;
    }
    .error-title {
        font-size: 4rem;
    }
    .error-text {
        margin-bottom: 1.5rem;
    }
}