.navbar {
    padding-top: 16px;
    a {
        color: $white;
        font-weight: 600;
    }

    background-color: transparent;

    .navbar-dropdown {
        a {
            color:rgb(51, 51, 51);
        }
    }
    @include until($mobileBreakpoint) {
        padding-top: 0px;
    }
}

.navbar-logo {
    max-height: 3rem!important;
}