@charset "utf-8";

$mobileBreakpoint: 426px;
$tabletPortraitBreakpoint: 769px;
$tabletLandscapeBreakpoint: 1025px;
$midLaptopBreakpoint: 1300px;

$container-offset: 24px;

@mixin flexCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin flexCenterColumn {
    @include flexCenter;
    flex-direction: column;
}

@import "~bulma/bulma.sass";

@import '~@creativebulma/bulma-collapsible';

@import "./colors.scss";
@import "./header.scss";
@import "./footer.scss";
@import "./errorPage.scss";
@import "./contentfulPages.scss";
@import "./simplePages.scss";
@import "./homePage.scss";
@import "./buttons.scss";
@import "./loginPage.scss";

@font-face {
    font-family: "Noah";
    src: url("../../static/fonts/Noah-Regular.woff2") format("woff2"), url("../../static/fonts/Noah-Regular.woff") format("woff");
    font-style: normal;
}

@font-face {
    font-family: "Noah";
    src: url("../../static/fonts/Noah-Bold.woff2") format("woff2"), url("../../static/fonts/Noah-Bold.woff") format("woff");
    font-weight: bold;
}

@font-face {
    font-family: "Noah";
    src: url("../../static/fonts/Noah-RegularItalic.woff2") format("woff2"), url("../../static/fonts/Noah-RegularItalic.woff") format("woff");
    font-style: italic;
}

@font-face {
    font-family: "Noah";
    src: url("../../static/fonts/Noah-BoldItalic.woff2") format("woff2"), url("../../static/fonts/Noah-BoldItalic.woff") format("woff");
    font-weight: bold;
    font-style: italic;
}

html {
  background-color: $aqua;
}

.main-layout {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: "Noah", sans-serif;
  font-style: normal;
  background-color: $aqua;
//   position: relative;
}

.main-content {
    flex: 1;
}

h1, .is-h1 {
    font-size: 3rem;
}

h2, .is-h2 {
    font-size: 2.5rem;
}

h3, .is-h3 {
    font-size: 2rem;
}

h4, .is-h4 {
    font-size: 1.5rem;
}

h5, .is-h5 {
    font-size: 1.25rem;
}

h6, .is-h5 {
    font-size: 1rem;
}

a {
    text-decoration: underline;
    color: $white;
    &:hover {
        color: $hoverWhite;
    }
    &:focus {
        color: $activeWhite;
    }
}

input {
    border: none!important;
    outline: none;
    border-radius: 4px;
    color: $black;
}
