@charset "utf-8";

$title-color: black;

$mobileBreakpoint: 426px;
$tabletPortraitBreakpoint: 769px;

@import "~bulma/bulma.sass";

@import "./header.scss";
@import "./footer.scss";
@import "./errorPage.scss";
@import "./contentfulPages.scss";
@import "./homePage.scss";

.main-layout {
    display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.main-content {
    flex: 1;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.3rem;
}


